.presenter {
  width: inherit;
  height: 75px;
  position: sticky;
  display: grid;
  align-items: center;
  right: 0;
  // background: #000;
}

.navbar {
  top: 0;
}

.footer {
  top: calc(100% - 75px);
}

.reverse {
  flex-direction: row-reverse;
}

.slot-start {
  justify-self: flex-start;
  display: flex;
}

.slot-middle {
  justify-self: center;
  display: flex;
}

.slot-end {
  justify-self: flex-end;
  display: flex;
}
